@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h2 class="font-weight-bold">Bienvenidos a Kermesse!</h2>
                <h6 class="font-weight-normal mb-0">El sistema que te ayudará a gestionar mejor las actividades realizadas en cada <span class="text-primary">Kermesse!</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
                <img src="~/Content/images/dashboard/people.svg" alt="people">
                <div class="weather-info">
                    <div class="d-flex">
                        <div>
                            <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>31<sup>C</sup></h2>
                        </div>
                        <div class="ml-2">
                            <h4 class="location font-weight-normal">Managua</h4>
                            <h6 class="font-weight-normal">Nicaragua</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <h2 class="mb-6">Categoría de Productos</h2>
                        <div>
                            <p>Más detalles</p>
                            <a href="https://localhost:44349/Tbl_cat_producto/tbl_catProducto" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <h2 class="mb-6">Productos</h2>
                        <div>
                            <p>Más detalles</p>
                            <a href="https://localhost:44349/Tbl_productos/tbl_Productos" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <h2 class="mb-6">Lista Precio</h2>
                        <div>
                            <p>Más detalles</p>
                            <a href="https://localhost:44349/Tbl_listaPrecio/tbl_ListaPrecio" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <h2 class="mb-6">Lista Precio Detalle</h2>
                        <p>Más detalles</p>
                        <a href="" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

